.service-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.service-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.service-card{
    background: #1a1919;
    padding: 1.2rem 1rem;
}

.service-card img{
    width: 100%;
}

.service-title{
    color: white;
    padding: 1rem 0;
}

.ser-details p{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.ser-btns{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

@media screen and (max-width:740px) {
    .service-container{
        max-width: 1140px;
        margin: auto;
        grid-template-columns: 1fr;
    }
}